<div class="flex self-center flex-col w-[598.4px] h-full border-l-2 border-r-2 border-l-[#2f3336] border-r-[#2f3336]">
  <div class="hover:cursor-pointer hover:bg-[#1a1c1e] transition duration-200 ease-in-out">
    <div class="p-4 flex self-center flex-row w-[598.4px]">
      <div class="flex self-start mr-1">
        <img
          ngSrc="{{extractAvatar(owner)}}"
          width="40"
          height="40"
          class="rounded-2xl"
          alt="avatar"
        >
      </div>
      <div class="flex flex-col ml-2">
        <p>
          <span class="font-medium"> {{extractFullName(owner)}} </span> <span class="text-gray-500 font-light"> {{extractUsername(owner)}} <span class="text-xl"> &middot; </span> {{timeAgo(createdAt)}}</span>
        </p>
        <p>
          {{content}}
        </p>
      </div>
    </div>
    <div class="flex flex-row justify-center w-full px-4">
      <button (click)="toggleLike()">
        <div class="flex rounded-full rounded-b-full flex-row items-center">
          <span *ngIf="!isLiked" class="material-symbols-outlined-hollow rounded-full p-2 text-gray-500 hover:bg-red-900/30 active:bg-gray-700"> favorite </span>
          <span *ngIf="isLiked" class="material-symbols-outlined-filled rounded-full p-2 text-red-500 hover:bg-red-900/30 active:bg-gray-700"> favorite </span>
          <p class="text-gray-500 font-light ml-1"> {{likeCount}} </p>
        </div>
      </button>
    </div>
  </div>
  <div class="border-t border-[#2f3336] mt-0"></div>
</div>
